<div class="ui-g wrap" *ngIf="data">
  <b class="ui-g-12 center">Certificate Report</b>
  <div class="ui-g-12 center">{{data.Domain}}</div>
  <div class="ui-g-12">
    <div class="ui-g-5 center">Domain Scanned: {{data.NumberOfDomainsWithCertificate}}</div>
    <div class="ui-g-5 center">Websites Analyzed: {{data.NumberOfDomainsWithCertificate}}</div>
  </div>
  <div class="ui-g-12">
    <div class="ui-g-5 center">Unique Certificates: {{data.NumberOfCertificates}}</div>
    <div class="ui-g-5 center">Secure Websites: {{data.NumberOfDomainsWithCertificate}}</div>
  </div>
  <div class="ui-g-12">
    <div class="ui-g-5 center">Overlaps: {{data.Overlaps}}</div>
    <div class="ui-g-5 center">Total Savings: ${{data.SavingsPotential | number}}</div>
  </div>
  <div class="ui-g-12">
    <div class="ui-g-5 center">Gaps: {{data.Gaps}}</div>
    <div class="ui-g-5 center"></div>
  </div>
  <div class="ui-g-12">
    <div class="ui-g-5 center">Vulnerabilities: {{data.Vulnerabilies}}</div>
    <div class="ui-g-5 center"></div>
  </div>
</div>
<div class="ui-g">
  <p-chart class="ui-g-6" *ngIf="certifcateExpiring" type="pie" [data]="certifcateExpiring" (onDataSelect)="selectExpiring($event)"></p-chart>
  <p-chart class="ui-g-6" *ngIf="certifcateIssuers" type="pie" [data]="certifcateIssuers" (onDataSelect)="selectIssuers($event)"></p-chart>
</div>


<p-dataTable *ngIf="dataTable" [value]="dataTable"  [globalFilter]="gb" #dt [style]="{'margin-bottom':'30px'}" expandableRows="true">
  <header>
    <button (click)="refresh()" pButton type="button" icon="fa-refresh" ></button>
    <input #gb type="text" placeholder="Global search">
  </header>
  <p-column expander="true" styleClass="col-icon" [style]="{'width': '30px'}"></p-column>
  <p-column field="subject" header="Subject" [sortable]="true"></p-column>
  <p-column field="issuer" header="Issuer" [sortable]="true"></p-column>
  <p-column field="overlapping" header="Overlapping" [sortable]="true" [style]="{'width': '130px'}"></p-column>
  <p-column field="overlappingby" header="Overlapping By" [sortable]="true" [style]="{'width': '110px'}"></p-column>
  <p-column field="grade" header="Grade" [sortable]="true" [style]="{'width': '90px'}"></p-column>
  <p-column field="expires" header="Expires" [sortable]="true" [style]="{'width': '110px'}"></p-column>
  <p-column field="alt" header="Alt Names" [sortable]="true" [style]="{'width': '120px'}"></p-column>
  <template let-car pTemplate="rowexpansion">
    <div class="center ui-g-6">
      <b>Overlapping Subjects:</b>
      <div *ngFor="let item of car.OverlappingCertificateIds">{{item}}</div>
    </div>
    <div class="center ui-g-6">
      <b>Alt Names:</b>
      <div *ngFor="let item of car.AltNames">{{item}}</div>
    </div>

    <!--<div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">-->
      <!--<div class="ui-grid-row">-->
        <!--<div class="ui-grid-col-3" style="text-align:center">-->
          <!--<i class="fa fa-search" (click)="showCar(car)" style="cursor:pointer;float:left;margin-top:40px"></i>-->
          <!--<img src="showcase/resources/demo/images/car/{{car.brand}}-big.gif">-->
        <!--</div>-->
        <!--<div class="ui-grid-col-9">-->
          <!--<div class="ui-grid ui-grid-responsive ui-grid-pad">-->
            <!--<div class="ui-grid-row">-->
              <!--<div class="ui-grid-col-2 label">Vin: </div>-->
              <!--<div class="ui-grid-col-10">{{car.vin}}</div>-->
            <!--</div>-->
            <!--<div class="ui-grid-row">-->
              <!--<div class="ui-grid-col-2 label">Year: </div>-->
              <!--<div class="ui-grid-col-10">{{car.year}}</div>-->
            <!--</div>-->
            <!--<div class="ui-grid-row">-->
              <!--<div class="ui-grid-col-2 label">Brand: </div>-->
              <!--<div class="ui-grid-col-10">{{car.brand}}</div>-->
            <!--</div>-->
            <!--<div class="ui-grid-row">-->
              <!--<div class="ui-grid-col-2 label">Color: </div>-->
              <!--<div class="ui-grid-col-10">{{car.color}}</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </template>
</p-dataTable>

<!--<p-treeTable *ngIf="dataTable" [value]="dataTable" [style]="{'margin-bottom':'30px'}">-->
  <!--<header>Basic</header>-->
  <!--<p-column field="subject" header="Subject"></p-column>-->
  <!--<p-column field="issuer" header="Issuer"></p-column>-->
  <!--<p-column field="overlapping" header="Overlapping"></p-column>-->
  <!--<p-column field="overlappingby" header="Overlapping By"></p-column>-->
  <!--<p-column field="grade" header="Grade"></p-column>-->
  <!--<p-column field="expires" header="Expires"></p-column>-->
  <!--<p-column field="alt" header="Alt Names"></p-column>-->

<!--</p-treeTable>-->
